.cuit-input {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.form {
    text-align: left;
}

.notificacionFecha-label {
    margin-left: 1.5%;
}

.datepicker-formato {
    margin-left: 1%;
}