.formularioa-table {
    border: solid 1px black;
    margin-bottom: 2%;
}

th {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    text-align: center;
}

td {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

.cabecera-codigo {
    width: 2%;
}

.cabecera-pregunta {
    width: 60%;
}

.cabecera-select {
    width: 15%;
}
.cabecera-fecha {
    width: 6%
}

.cabecera-comentario {
    width: 25%;
}

.gremios-table {
    border: solid 1px black;
    margin-bottom: 2%;
    width:50%;
    display: inline-table;
}

.cabecera-gremioslegajo {
    width: 10%;
}

.cabecera-gremiosgremio {
    width: 40%;
}

.cabecera-verificar {
    width: 10%;
}
