.tbl-establecimiento {
    width: 50%;
    text-align: 'left';
    margin-bottom: 1%;
    margin-top: 1%;
}

.elegirestablecimiento-th {
    width: 10%;
    /*margin-right: 2px;*/
}

.selectestablecimiento-th {
    border: 0px transparent;
    width: 80%;
}

.elegirestablecimiento-td {
    border: 0px transparent;
}

.selecestablecimiento-td {
    border: 0px transparent;
    width: 90%;
}

.elegirestablecimiento-thead {
    border: 0px transparent
}

.elegirestablecimiento-tbody {
    border: 0px transparent
}

.elegirestablecimiento-th {
    border: 0px transparent
}

.td-canttrabajadores {
    border: 0px transparent;
   
}

.table-datosEstablecimiento {
    margin-left: 1%;
    margin-bottom: 1%;
}