.titulo-lbl {
    font-size: large;
}

.pregunta-lbl {
    margin-right: 5px;
    margin-left: 5px;
}

.renglon {
    margin-bottom: 4px;
}

.td-contratista-cuit {
    display: inline-flex;
}

.contratistas-contratista {
    width: 100%;
}